[submodule "CTFd/plugins/CTFd-Docker-Plugin"]
	path = CTFd/plugins/containers
	url = git@github.com:CloudMeshSolutions/CTFd-Docker-Plugin.git
[submodule "CTFd/plugins/dynamic_challenges_mod"]
	path = CTFd/plugins/dynamic_challenges_mod
	url = git@github.com:sigpwny/ctfd-dynamic-challenges-mod.git
